<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSetting>
		<add key="FilePath" value="C:\Users\as\Source\Repos\TournamentTracker"/>
		<add key="greaterWins" value="1"/>
		<add key="senderEmail" value="mohit@tanwar.com"/>
		<add key="senderName" value="Mohit Tanwar"/>


	</appSetting>
	<connectionStrings>
		<add name="TournamentTrackerDataBase" connectionString ="server=DESKTOP-2G853OJ;Database=TournamentsTracker;Trusted_Connection=True;"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="127.0.0.1" userName="Mohit" password="testing" port="25" enableSsl="false"/>
			</smtp>
		</mailSettings>
	</system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>